<!DOCTYPE html>
<html>
<head>
  <title>Form Pilihan Ganda</title>
</head>
<body>
  <h1>Form Pilihan Ganda</h1>
  
  <form>
    <h2>Pertanyaan 1:</h2>
    <p>Apakah HTML adalah singkatan dari:</p>
    <label>
      <input type="radio" name="pertanyaan1" value="a"> a) HyperText Markup Language
    </label><br>
    <label>
      <input type="radio" name="pertanyaan1" value="b"> b) Home Tool Markup Language
    </label><br>
    <label>
      <input type="radio" name="pertanyaan1" value="c"> c) Hyperlink and Text Markup Language
    </label><br>
    
    <h2>Pertanyaan 2:</h2>
    <p>Apa fungsi dari elemen &lt;head&gt; dalam HTML?</p>
    <label>
      <input type="radio" name="pertanyaan2" value="a"> a) Menyimpan konten utama halaman web
    </label><br>
    <label>
      <input type="radio" name="pertanyaan2" value="b"> b) Menyimpan informasi meta dan skrip
    </label><br>
    <label>
      <input type="radio" name="pertanyaan2" value="c"> c) Menampilkan judul halaman web
    </label><br>
    
    <h2>Pertanyaan 3:</h2>
    <p>Apa yang diacu dengan CSS?</p>
    <label>
      <input type="radio" name="pertanyaan3" value="a"> a) Cascading Style Sheets
    </label><br>
    <label>
      <input type="radio" name="pertanyaan3" value="b"> b) Creative Style Sheets
    </label><br>
    <label>
      <input type="radio" name="pertanyaan3" value="c"> c) Computer Style Sheets
    </label><br>
    
    <h2>Pertanyaan 4:</h2>
    <p>Apa fungsi dari elemen &lt;img&gt; dalam HTML?</p>
    <label>
      <input type="radio" name="pertanyaan4" value="a"> a) Menampilkan teks pada halaman web
    </label><br>
    <label>
      <input type="radio" name="pertanyaan4" value="b"> b) Menambahkan gambar ke halaman web
    </label><br>
    <label>
      <input type="radio" name="pertanyaan4" value="c"> c) Membuat tabel dalam halaman web
    </label><br>
    
    <h2>Pertanyaan 5:</h2>
    <p>Apa yang dimaksud dengan HTML5?</p>
    <label>
      <input type="radio" name="pertanyaan5" value="a"> a) Versi terbaru dari bahasa HTML
    </label><br>
    <label>
      <input type="radio" name="pertanyaan5" value="b"> b) Bahasa pemrograman web
    </label><br>
    <label>
      <input type="radio" name="pertanyaan4" value="c"> c) Membuat tabel dalam halaman web</input>
