<!DOCTYPE html>
<html lang="en">
<head>
  <title>Form Data Kualifikasi</title>
</head>
<body>
  <h1>Form Data Kualifikasi</h1>
  
  <form>
    <label for="nomor-batch">Nomor Batch:</label>
    <input type="text" id="nomor-batch" name="nomor-batch" required>
    
    <label for="tempat-pelaksanaan">Tempat Pelaksanaan:</label>
    <select id="tempat-pelaksanaan" name="tempat-pelaksanaan" required>
      <option value="">Pilih Tempat Pelaksanaan</option>
      <option value="Tempat 1">Sande Vila Nova</option>
      <option value="Tempat 2">Zapala</option>
      <option value="Tempat 3">Letpandan</option>
    </select>
    
    <label for="tanggal-pelaksanaan">Tanggal Pelaksanaan:</label>
    <select id="tanggal-pelaksanaan" name="tanggal-pelaksanaan" required>
      <option value="">Pilih Tanggal Pelaksanaan</option>
      <option value="01/05/2023">2023-05-14</option>
      <option value="02/05/2023">2023-04-23</option>
      <option value="03/05/2023">2023-03-22</option>
    </select>
    
    <button type="submit">Next</button>
  </form>
</body>
</html>
