{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Atlet | Daftar Event</title>
{% endblock meta %}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-10">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4">
                <h2 class="fw-bold mb-4 text-uppercase">Daftar Event</h2>
                <table class="table table-dark">
                    <thead class="thead">
                        <tr>
                        <th scope="col">Nama Stadium</th>
                        <th scope="col">Negara</th>
                        <th scope="col">Kapasitas</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>GBK</td>
                        <td>Indonesia</td>
                        <td>8</td>
                        <td><button onclick="pilihKategori('GBK', 'Indonesia')">Pilih</button></td>
                        </tr>
                        <tr>
                        <td>Senayan</td>
                        <td>Indonesia</td>
                        <td>16</td>
                        <td><button onclick="pilihKategori('Senayan', 'Indonesia')">Pilih</button></td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}