<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 px-3">
    <a class="navbar-brand mb-0 h1" href="#">BaBaDu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Dashboard</a>
        <a class="nav-item nav-link" href="#">Tes Kualifikasi</a>
        <a class="nav-item nav-link" href="#">Daftar Event</a>
        <a class="nav-item nav-link" href="#">Enrolled Event</a>
        <a class="nav-item nav-link" href="#">Daftar Sponsor</a>
      </div>
    </div>
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 px-3">
    <a class="navbar-brand mb-0 h1" href="#">BaBaDu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Dashboard</a>
        <a class="nav-item nav-link" href="#">Daftar Atlet</a>
        <a class="nav-item nav-link" href="#">List Atlet</a>
        <a class="nav-item nav-link" href="#">Logout</a>
      </div>
    </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 px-3">
    <a class="navbar-brand mb-0 h1" href="#">BaBaDu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Dashboard</a>
        <a class="nav-item nav-link" href="#">Daftar Atlet</a>
        <a class="nav-item nav-link" href="#">Lihat Event</a>
        <a class="nav-item nav-link" href="#">Hasil Pertandingan</a>
        <a class="nav-item nav-link" href="#">Logout</a>
      </div>
    </div>
</nav> -->